@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    padding-top: 3%;
    overflow-y: hidden;
}

.header1{
    color: white;
    font-size: 3vw;
    display: inline-flex;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.header2{
    color: #0047FD;
    font-size: 3vw;
    display: inline-flex;
    padding-left: 2%; 
    max-width: 100%;
    margin: 0 auto;
}

.topPage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.passion{
    /* display: flexbox; */
    display: flexbox;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding-left: 49vw;
    padding-top: 5vw;
    max-width: 85vw;
}

.title1{
    color: white;
    font-size: 2vw;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 6vw;
}

.title2{
    padding-right: 14vw;
    color: white;
    font-size: 2vw;
    /* display: inline-flex; */
    max-width: 100%;
    margin: 0 auto;
}

.titleBlue{
    color: #0047FD;
    font-size: 2vw;
    /* display: inline-flex; */
    padding-left: 1%;
    max-width: 100%;
    margin: 0 auto;
}
.contentPassion1{
    color: #848484;
    font-size: 1.5vw;
    padding-top: 1%;
    max-width: 100%;
    margin: 0 auto;
}

.contentPassion2{
    color: #0047FD;
    font-size: 1.5vw;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 17.5vw;
}

.impact{
    /* display: flexbox; */
    display: inline-block;
    margin: 0 auto;
    padding-left: 56vw;
    padding-top: 7vw;
    max-width: 95vw;
}

.titleImpact{
    color: white;
    font-size: 2vw;
    max-width: 100%;
    margin: 0 auto;
}

.titleImpact2{
    color:  white;
    font-size: 2vw;
    display: inline-flex;
    max-width: 100%;
    margin: 0 auto;
}

.titleImpactBlue{
    color: #0047FD;
    font-size: 2vw;
    display: inline-flex;
    padding-left: 1%;
    max-width: 100%;
    margin: 0 auto;
}

.contentImpact1{
    color: #848484;
    font-size: 1.5vw;
    /* display: inline-flex; */
    max-width: 100%;
    margin: 0 auto;
}

.contentImpact2{
    color:#0047FD;
    font-size: 1.5vw;
    display: inline-flex;
    padding-left: 1%;
    max-width: 100%;
    margin: 0 auto;
}

.contentImpact3{
    color: #848484;
    font-size: 1.5vw;
    display: inline-flex;
    padding-left: 1%;
    max-width: 100%;
    margin: 0 auto;
}


.londonImg img{
    position: absolute;
    width: 55vw;
    height: auto;
    top:16vw;
    left: 2vw;
    border: 0.5vw solid #0047FD;
    border-radius: 2vw;
}

.fluencyContainer{

}

.titleRole{
    padding-top: 20vw;
    font-size: 2vw;
    padding-left: 3vw;
}

.titleFrontEnd{
    display: inline-flex;
    color: #0047FD;
}

.titleAnd{
    display: inline-flex;
    color: white;
    padding-left: 0.5vw;
}

.titleBackEnd{
    display: inline-flex;
    color: #0047FD;
    padding-left: 0.5vw;
}

.titleFluency{
    display: inline-flex;
    color: white;
    padding-left: 0.5vw;
}

.graphContainer{
    max-width: 50vw;
    height: 3vw;
    position: relative;
    padding-left: 3vw;
    padding-top: 2vw;
}


.whiteBar{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 10vw;
    z-index: 1;
}

.blueBar{
    width: 85%;
    height: 100%;
    position: absolute;
    background-color: #0047FD;
    /* color: white; */
    border-radius: 10vw;
    z-index: 2;
}
.blueBar p{
    color: white;
    background-color: #0047FD;
    border-radius: 10vw;
    padding-top: 0.2vw;
    padding-left: 1vw;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif;
}

.graphContainerCSS{
    max-width: 50vw;
    height: 3vw;
    position: relative;
    padding-left: 3vw;
    /* padding-top: 4vw; */
}


.whiteBarCSS{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 10vw;
    margin-top: 4vw;
    z-index: 1;
}

.blueBarCSS{
    width: 75%;
    height: 100%;
    position: absolute;
    background-color: #0047FD;
    border-radius: 10vw;
    margin-top: 4vw;
    z-index: 2;
}
.blueBarCSS p{
    color: white;
    background-color: #0047FD;
    border-radius: 10vw;
    padding-top: 0.2vw;
    padding-left: 1vw;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif;
}

.graphContainerReact{
    max-width: 50vw;
    height: 3vw;
    position: relative;
    padding-left: 3vw;
    margin-top: 6vw;
}


.whiteBarReact{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 10vw;
    z-index: 1;
}

.blueBarReact{
    width: 89%;
    height: 100%;
    position: absolute;
    background-color: #0047FD;
    border-radius: 10vw;
    z-index: 2;
}
.blueBarReact p{
    color: white;
    background-color: #0047FD;
    border-radius: 10vw;
    padding-top: 0.2vw;
    padding-left: 1vw;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif;
}

.graphContainerPHP{
    max-width: 50vw;
    height: 3vw;
    position: relative;
    padding-left: 3vw;
    margin-top: 2vw;
}


.whiteBarPHP{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 10vw;
    z-index: 1;
}

.blueBarPHP{
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: #0047FD;
   
    border-radius: 10vw;
    z-index: 2;
}
.blueBarPHP p{
    color: white;
    background-color: #0047FD;
    border-radius: 10vw;
    padding-top: 0.2vw;
    padding-left: 1vw;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif;
}

.graphContainerAS{
    max-width: 50vw;
    height: 3vw;
    position: relative;
    padding-left: 3vw;
    margin-top: 2vw;
    margin-bottom: 10vw;
}


.whiteBarAS{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 10vw;
    z-index: 1;
}

.blueBarAS{
    width: 85%;
    height: 100%;
    position: absolute;
    background-color: #0047FD;
    border-radius: 10vw;
    z-index: 2;
}
.blueBarAS p{
    color: white;
    background-color: #0047FD;
    border-radius: 10vw;
    padding-top: 0.2vw;
    padding-left: 1vw;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif;
}

.codingIcon img{
    position: absolute;
    top:78vw;
    right:5vw;
    height: 30vw;
    width: auto;
}
