*{
    font-family: 'Times New Roman', Times, serif;
}

.intro{
    padding-top: 10%;
    padding-left: 6%;
    display: inline-flex;
    font-size: 2vw;
    color: white;
}

.name{
    display: inline-flex;
    font-size: 2vw;
    color: #0047FD;
    padding: 2vw;
}

.role{
    padding-left: 6vw;
    font-size: 40px;
    color: white;
    font-size: 2.2vw;
}

.description{
    padding-top: 6vw;
    padding-left: 6vw;
    font-size: 1.9vw;
    color: white;
    font-stretch: condensed;
    margin: 0%
}

br {
    display: none;
}

.myPicture{
    height: 15vw;
    width: auto;
    position: fixed;
    top: 6.2vw;
    right: 2vw;
}

.myPicture img{
    height: 300%;
    width: auto;
}

.socialMediaIcons{
    display: inline-flex;
}

.linkedinImg img{
    /* display: inline-flex; */
    height: 5vw;
    width: auto;
    padding-left: 5vw;
    margin-top: 2vw;
}

.githubImg img{
    /* display: inline-flex; */
    height: 5vw;
    width: auto;
    padding-left: 2vw;
    margin-top: 2vw;
}

.instagramImg img{
    height: 8vw;
    width: auto;
    margin-top: 0.5vw;
    padding-left: 1.5vw;
    
}

