@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap');

.navbar{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
    color: white;
    padding: 15px 7%;
}
.logo{
    font-size: 2rem;
    font-family: 'Sansita', sans-serif;
    background-color: #171717;
    text-decoration: none;
    color: white;
    font-size: 3vw;
    transition: 0.5s;
}

.logo:hover{
    background-color: white;
    color:black;
}

ul{
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    background-color: #171717;
    display: flex;
    justify-content: center;
}

ul li{
    display: inline-block;
    margin: 1vw 1.5vw;
    cursor: pointer;
    background-color: #171717;
}

ul li a{
    color:white;
    text-decoration: none;
    background-color: #171717;
    margin: 1vw;
    font-size: 2vw;
    transition: 0.5s;
}

ul li a:hover{
    background-color: white;
    color:black;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: 10px;
}

.hireMe{
    color:white;
    background-color: #0047FE;
    size: 10px;
    height: 3vw;
    width: 6vw;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 1vw;
}